         body {color: beige;
        text-align: center;
        align-content: center;
        text-shadow:
                0 0 5px rgb(141, 56, 7),
                0 0 10px rgb(141, 56, 7),
                0 0 20px rgb(141, 56, 7),
                0 0 40px rgb(141, 56, 7),
                0 0 80px rgb(141, 56, 7);
        margin-bottom: 0px;
        margin-top: 0px;}

        h2 {font-family: "DM Serif Text", serif;
        font-size: 75px;
        line-height: 10px;}

        p {font-family: "DM Serif Text", serif;
        font-size: 30px;
        width: 60%}

        ul {font-family: "DM Serif Text", serif;
        font-size: 30px;
        width: 60%;
        text-align: left}

        div {margin: -1em;
        border: -1em;
        padding: -1em;}

   .section {min-height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;}

   /* .lists {align-content: center;
   display: inline-block;
   padding: 0 10px 0 10px;
   box-sizing: border-box;} */

   .arcadia {min-height: 105vh;
   Background-size:cover;
   background-image:url(https://i.redd.it/nga7yl29ar041.jpg);}

   .blackwell-academy {
   background-size:cover;
   background-image:url(https://i.redd.it/wl04cm3job1b1.jpg)}

   .madsen-house {
   background-size:cover;
   background-image:url(ChloeRoom_EP3.webp)}

   .two-whales {
   background-size:cover;
   background-image:url(Life-is-Strange_Ep2_DINER.webp)}

   .junkyard {
   background-size:cover;
   background-image:url(Hideout-external.webp)}
   
   .beach {
   background-size:cover;
   background-image:url(Beach_Ep_4.webp)}
  
   .hospital {
   background-size:cover;
   background-image:url(Hospital.jpg)}

   .barn {
   background-size:cover;
   background-image:url(Barn.webp)}

   .dark-room {
   background-size:cover;
   background-image:url(Dark_Room_Ingame.jpg)}

   .lighthouse {
   background-size:cover;
   background-image:url(https://images6.alphacoders.com/954/954446.png)}

   .debrief {min-height: 105vh;
   background-size:cover;
   background-image:url(https://images6.alphacoders.com/679/679666.jpg)}