  body {color: beige;
        font-family: "Indie Flower", cursive;
        text-align: center;
        font-size: 30px;
        background-image: url(https://www.gian-cursio.net/wp-content/uploads/2018/03/Day-1-Afternoon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        align-content: center;}

  h1 {font-family: "Amatic SC", sans-serif;
      font-weight:bolder ;
      font-size: 100px;
      line-height: 10px;
        text-shadow:
                0 0 5px rgb(187, 127, 92),
                0 0 10px rgb(187, 127, 92),
                0 0 20px rgb(187, 127, 92),
                0 0 40px rgb(187, 127, 92),
                0 0 80px rgb(187, 127, 92);
        padding: 20px;}

  h2 {font-family: "Amatic SC", sans-serif;
      font-weight:bolder ;
      font-size: 75px;
      line-height: 10px;
        text-shadow:
                0 0 5px rgb(187, 127, 92),
                0 0 10px rgb(187, 127, 92),
                0 0 20px rgb(187, 127, 92),
                0 0 40px rgb(187, 127, 92),
                0 0 80px rgb(187, 127, 92);
        padding: 20px;}

  p {color: beige;
    border: 2px solid beige;
    background-color: rgba(51, 32, 19, 0.75);
    align-content: center;
    display: inline-block;
    width: 60%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;}

  #map {width: 60%;}

  img {border: 2px solid beige;}

  .lists {color: beige;
          border: 2px solid beige;
          background-color: rgba(51, 32, 19, 0.75);
          align-content: center;
          display: inline-block;
          text-align: left;
          width: 60%;
          padding: 0 10px 0 10px;
          box-sizing: border-box;}

  .divide {display: flex;
          flex-wrap: nowrap;
          text-align: center; 
          align-items: center;
          justify-content: center; 
          width: 60%;
          margin-left: auto;
          margin-right: auto;
          gap: 10px;}

  .divide img {width: 100%;
              flex: 100;
              border: solid;
              text-align: justify;
              display: inline-block;display: inline-block;
              flex-basis: auto;
              height: 310px}
            