  /* body {color: beige;
        font-family: "Indie Flower", cursive;
        text-align: center;
        font-size: 30px;
        background-image: url(https://www.gian-cursio.net/wp-content/uploads/2018/03/Day-1-Afternoon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        align-content: center;}

  h1 {font-family: "Amatic SC", sans-serif;
      font-weight:bolder ;
      font-size: 100px;
      line-height: 10px;
        text-shadow:
                0 0 5px rgb(187, 127, 92),
                0 0 10px rgb(187, 127, 92),
                0 0 20px rgb(187, 127, 92),
                0 0 40px rgb(187, 127, 92),
                0 0 80px rgb(187, 127, 92);
        padding: 20px;}

  h2 {font-family: "Amatic SC", sans-serif;
      font-weight:bolder ;
      font-size: 75px;
      line-height: 10px;
        text-shadow:
                0 0 5px rgb(187, 127, 92),
                0 0 10px rgb(187, 127, 92),
                0 0 20px rgb(187, 127, 92),
                0 0 40px rgb(187, 127, 92),
                0 0 80px rgb(187, 127, 92);
        padding: 20px;}

  p {color: beige;
    border: 2px solid beige;
    background-color: rgba(51, 32, 19, 0.75);
    align-content: center;
    display: inline-block;
    width: 60%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;}

  #map {width: 60%;}

  img {border: 2px solid beige;}

  .lists {color: beige;
          border: 2px solid beige;
          background-color: rgba(51, 32, 19, 0.75);
          align-content: center;
          display: inline-block;
          text-align: left;
          width: 60%;
          padding: 0 10px 0 10px;
          box-sizing: border-box;}

  .divide {display: flex;
          flex-wrap: nowrap;
          text-align: center; 
          align-items: center;
          justify-content: center; 
          width: 60%;
          margin-left: auto;
          margin-right: auto;
          gap: 10px;}

  .divide img {width: 100%;
              flex: 100;
              border: solid;
              text-align: justify;
              display: inline-block;display: inline-block;
              flex-basis: auto;
              height: 310px} */

        body {color: beige;
        text-align: center;
        align-content: center;
        text-shadow:
                0 0 5px rgb(141, 56, 7),
                0 0 10px rgb(141, 56, 7),
                0 0 20px rgb(141, 56, 7),
                0 0 40px rgb(141, 56, 7),
                0 0 80px rgb(141, 56, 7);
        margin-bottom: 0px;
        margin-top: 0px;}

        h2 {font-family: "DM Serif Text", serif;
        font-size: 75px;
        line-height: 10px;}

        p {font-family: "DM Serif Text", serif;
        font-size: 30px;
        width: 60%}

        ul {font-family: "DM Serif Text", serif;
        font-size: 30px;
        width: 60%;
        text-align: left}

        div {margin: -1em;
        border: -1em;
        padding: -1em;}

   .section {min-height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;}

   /* .lists {align-content: center;
   display: inline-block;
   padding: 0 10px 0 10px;
   box-sizing: border-box;} */

   .arcadia {min-height: 105vh;
   Background-size:cover;
   background-image:url(https://www.gian-cursio.net/wp-content/uploads/2018/03/Day-1-Afternoon.jpg);}

   .blackwell-academy {
   background-size:cover;
   background-image:url(https://i.redd.it/wl04cm3job1b1.jpg)}

   .madsen-house {
   background-size:cover;
   background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e3774445-e9ad-4ca9-b640-922b636ebfa8/d94abe3-101ca16e-5647-4405-9aa8-b2c4ecf5f473.png/v1/fill/w_1600,h_900,q_80,strp/life_is_strange_episode_4_chloe_s_room_002_by_neow_ost_tv_d94abe3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6Ii9mL2UzNzc0NDQ1LWU5YWQtNGNhOS1iNjQwLTkyMmI2MzZlYmZhOC9kOTRhYmUzLTEwMWNhMTZlLTU2NDctNDQwNS05YWE4LWIyYzRlY2Y1ZjQ3My5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HkKBPhFMAeILyZ3sE72Z3r90rZdW6RaJIrvfANz8hTk)}

   .two-whales {
   background-size:cover;
   background-image:url(https://cdn.mos.cms.futurecdn.net/7610e2233219cb20a028ae17d0505dbb.png)}

   .junkyard {
   background-size:cover;
   background-image:url(https://i.redd.it/k5r8rcbsds811.png)}
   
   .beach {
   background-size:cover;
   background-image:url(https://64.media.tumblr.com/f80c15806699a4bf47271ad95685b5cb/tumblr_o5xwt9Fe661u3uo0oo1_1280.png)}
  
   .hospital {
   background-size:cover;
   background-image:url(https://i.imgur.com/nZXir3B.jpg)}

   /* .barn {
   background-size:cover;
   background-image:url(https://static.wikia.nocookie.net/life-is-strange/images/0/06/Barn.jpg/revision/latest/scale-to-width-down/1200?cb=20170330192517)} */

   .dark-room {
   background-size:cover;
   background-image:url(https://pm1.aminoapps.com/7246/fdac6b40b39d6c0ea620f987739eb5df2199166br1-1920-1221v2_hq.jpg)}

   .lighthouse {
   background-size:cover;
   background-image:url(https://images6.alphacoders.com/954/954446.png)}

   .debrief {min-height: 105vh;
   background-size:cover;
   background-image:url(https://images6.alphacoders.com/679/679666.jpg)}